.edit-text {
    margin-bottom: 1em;
}

#top, #bottom {
    font-weight: bold;
}

::placeholder {
    color: white;
    opacity: 1;
}

textarea {
    text-align: center;
    width: 25em;
    height: 5em;
    resize: none;
    border-radius: 10px;
    outline: none;
    padding-top: 2.5em;
    font-family: monospace;
    border: 1px solid grey;
}

input[type="color"] {
    border: none;
    background: none;
    width: 4em;
    height: 3em;
    padding: none;
    margin: 1em auto;
}